<html ng-app="report">
<head>
<script type="text/javascript" src="angular.js">
</script>
<style>
 @font-face { font-family: Calibri; src: url('Calibri.ttf'); }
 body {
 	font-family:Calibri;
 	padding: 30px;
 }
 td {
   vertical-align: top;
 }
 td.section-table-two-colum {
 	width: 50%;
 }
 td.section-table-row-label-cell {
 	width: 30%;
 	height : 30px;
    vertical-align : top;
    font-size: 15;
 }
 td.section-table-row-column-seperator-cell {
 	width : 20px;
    vertical-align : top;
    font-size: 15;
 } 
 td.application-category-table-row-label-cell {
 	height: 30px;
 }
 div.section-title {
 	padding-left: 4px;
 	padding-top: 10px;
	padding-bottom: 10px; 	
 	font-size: 20;
    font-weight:bold;
 	background-color: #FAD10D;
 }
 div.horizontal-blocks {
	display:inline-block;
   	width:50%;
    font-size: 12;
 }
 div.application-note {
 	padding-left: 4px;
 	padding-top: 10px;
	padding-bottom: 10px; 	
 	font-size: 9;
 	background-color: black;
 	color: white;
 }

 div.application-break {
    page-break-before:always;
 }


</style>

</head>
<body ng-controller="applicationController">
	<table>
		<tr><td width="70%">
			<img src="logo_maybank.jpg">&nbsp;&nbsp;<img src="logo_maybank2e.jpg"><br><br>
			Form Reference Number : MY/{{application.company.businessRegistrationNo}}/{{application.bankAdministrationDetail.date | date:'ddMMyyyy'}}
			<h3>USER PROFILE &amp; ACCESS MATRIX APPLICATION FORM</h3>
		</td>	
		<td ng-controller="categoryController" class="application-category-table-row-label-cell">
			<table width="100%">
				<tr><td class="application-category-table-row-label-cell">Region</td>
					<td class="application-category-table-row-column-seperator-cell"> : </td>
					<td>{{application.category.region.name}}</td>
				</tr>			
				<tr><td class="application-category-table-row-label-cell">Segment</td>
					<td class="application-category-table-row-column-seperator-cell"> : </td>
					<td>{{application.category.segment.name}}</td>
				</tr>
				<tr><td class="application-category-table-row-label-cell">CIF No</td>
					<td class="application-category-table-row-column-seperator-cell"> : </td>
					<td>{{application.category.cifNo}}</td>
				</tr>
				<tr><td class="application-category-table-row-label-cell">Package</td>
					<td class="application-category-table-row-column-seperator-cell"> : </td>
					<td>{{application.category.package.name}}</td>
				</tr>
			</table>	
		</td></tr>
	</table>	
	<div class="application-note">Kindly Complete the form in CAPITAL LETTERS and return to Malayan Banking Berhad. For further enquiries, please visit www.maybank2e.com</div>
	<div ng-controller="companyController" class="section">
	<br>	
	<div class="section-title">A. COMPANY DETAILS</div>
	<table width="100%">
		<tr><td class="section-table-row-label-cell">Company Name</td>
		    <td class="section-table-row-column-seperator-cell"> : </td>
		    <td>{{application.company.name}}<!--{{name}}--></td>
		</tr>
		<tr><td class="section-table-row-label-cell">Business Reg No</td>
		    <td class="section-table-row-column-seperator-cell"> : </td>
		    <td>{{application.company.businessRegistrationNo}}</td>
		</tr>	
		<tr><td class="section-table-row-label-cell">Business Address</td>
			<td class="section-table-row-column-seperator-cell"> : </td>
			<td>{{application.company.businessAddress.lowLevelSpatialReference +
			', ' + application.company.businessAddress.highLevelSpatialReference +
			', ' + application.company.businessAddress.state.name +
			', ' + application.company.businessAddress.country.name}}</td>
		</tr>	
		<tr><td class="section-table-row-label-cell">Nature of Business</td>
			<td class="section-table-row-column-seperator-cell"> : </td>
			<td>{{application.company.businessNature}}</td>
		</tr>	
		<tr><td class="section-table-row-label-cell">Company Website</td>
			<td class="section-table-row-column-seperator-cell"> : </td>
			<td>{{application.company.website}}</td>
			</tr>	
		<tr><td class="section-table-row-label-cell">Office Tel No.</td>
			<td class="section-table-row-column-seperator-cell"> : </td>
			<td>{{application.company.telephone.value}}</td>
		</tr>
		<tr><td class="section-table-row-label-cell">Fax</td>
			<td class="section-table-row-column-seperator-cell"> : </td>
			<td>{{application.company.fax.value}}</td>
		</tr>					
	</table>
	</div>
	<div ng-controller="contactController" class="section">
		<div class="section-title">B. CONTACT INFORMATION</div>
		<br>
		<div class="horizontal-blocks">PRIMARY CONTACT INFO</div><div class="horizontal-blocks">SECONDARY CONTACT INFO</div><br>
		<div class="horizontal-blocks" ng-repeat="person in contacts">
			<table>
				<tr><td class="section-table-row-label-cell">Name</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{person.name}}</td>
				</tr>
				<tr><td class="section-table-row-label-cell">Designation</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{person.designation}}</td>
				</tr>		
				<tr><td class="section-table-row-label-cell">Email</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{person.email.value}}</td>
				</tr>	
				<tr><td class="section-table-row-label-cell">Tel No</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{person.telephone.value}}</td>
				</tr>	
				<tr><td class="section-table-row-label-cell">Mobile No</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{person.mobile.value}}</td>
				</tr>	
				<tr><td class="section-table-row-label-cell">Fax No</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{person.fax.value}}</td>
				</tr>	
			</table>
		</div>
	</div>
	<div ng-controller="billingAccountController" class="section">
	<div class="section-title">C. CORPORATE ACCOUNT to be used for Bank Charges</div>		
	<table width="100%">
		<tr><td class="section-table-row-label-cell">Primary Billing Account</td>
			<td class="section-table-row-column-seperator-cell"> : </td>
			<td>{{application.billingAccount.id}}</td>
		</tr>
		<tr><td class="section-table-row-label-cell">Non Residency</td>
			<td class="section-table-row-column-seperator-cell"> : </td>
			<td>{{application.billingAccount.residency ? "Yes" : "No"}}</td>
		</tr>		
	</table>	
	</div>	
	<div ng-controller="servicesController" class="section application-break"><br><br>
	<div class="section-title">D. SERVICES REQUIRED</div>	
		<table width="100%">
			<tr><td class="section-table-row-label-cell">Account Services</td>
				<td class="section-table-row-column-seperator-cell"> : </td>
                <td>
                    <table>
                        <tr>
                            <td ng-repeat="service in application.portfolioSummaryServices"><input type="checkbox" checked onclick="return false">{{service.title}}</input></td>
                        </tr>
                    </table>
                <td>
			</tr>
			<tr><br></tr>
			<tr><td class="section-table-row-label-cell">Payment Management</td>
				<td class="section-table-row-column-seperator-cell"> : </td>
                <td>
                    <table>
                        <tr>
                            <td ng-repeat="service in application.paymentManagementServices"><input type="checkbox" checked onclick="return false">{{ service.title}}</input></td>
                        </tr>
                        <tr><td colspan="{{application.paymentManagementServices.length}}"><br></td></tr>
                        <tr><td colspan="{{application.paymentManagementServices.length}}">{{application.transferPurpose.id.toUpperCase()}}</td></tr>
                        <tr><td colspan="{{application.paymentManagementServices.length}}">{{application.transferPurpose.title}}</td></tr>
                    </table>
                </td>
			</tr>
		</table>	
	</div>		
	<div ng-controller="corporateAdministratorController" class="section">
		<div class="section-title">E. CORPORATE ADMINISTRATOR DETAILS</div>
		<br>
		<div class="horizontal-blocks">ADMIN - MAKER</div><div class="horizontal-blocks">ADMIN - CHECKER</div><br>
		<div class="horizontal-blocks" ng-repeat="person in administrators">
			<table>
				<tr><td class="section-table-row-label-cell">Name</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{person.name}}</td>
				</tr>
				<tr><td class="section-table-row-label-cell">Designation</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{person.designation}}</td>
				</tr>		
				<tr><td class="section-table-row-label-cell">Email</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{person.email.value}}</td>
				</tr>	
				<tr><td class="section-table-row-label-cell">Tel No</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{person.telephone.value}}</td>
				</tr>	
				<tr><td class="section-table-row-label-cell">Mobile No</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{person.mobile.value}}</td>
				</tr>	
				<tr><td class="section-table-row-label-cell">Fax No</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{person.fax.value}}</td>
				</tr>
			</table>
		</div>
	</div>	
	<div ng-controller="accountUsersController" class="section application-break"><br><br>
		<div class="section-title">F. USER NOMINATION DETAILS</div>
		<div class="horizontal-blocks" ng-repeat="user in application.accountUsers">
			<br><br><div>USER - {{$index + 1}}</div><br>
			<table>
				<tr><td class="section-table-row-label-cell">Name</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{user.name}}</td>
				</tr>
				<tr><td class="section-table-row-label-cell">Designation</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{user.designation}}</td>
				</tr>		
				<tr><td class="section-table-row-label-cell">Email</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{user.email.value}}</td>
				</tr>	
				<tr><td class="section-table-row-label-cell">Tel No</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{user.telephone.value}}</td>
				</tr>	
				<tr><td class="section-table-row-label-cell">Mobile No</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{user.mobile.value}}</td>
				</tr>
                <tr><td class="section-table-row-label-cell">ID / Passport No</td>
                <td class="section-table-row-column-seperator-cell"> : </td>
                <td>{{user.verificationReference.verificationReferenceId}}</td>
                </tr>
                
				<tr><td class="section-table-row-label-cell">User Function</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td><div class="horizontal-block" ng-repeat="permission in user.right.permissions">
							<input type="checkbox" checked onclick="return false">{{ permission.title}}</input>
						</div>
					</td>
				</tr>
				<tr><td class="section-table-row-label-cell">Confidentiality</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{user.right.canAuthorizerViewDetails ? "ALLOWED TO VIEW DETAILS" : "NOT ALLOWED TO VIEW DETAILS"}}</td>
				</tr>					
				<tr><td class="section-table-row-label-cell">Role</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{user.right.role.title}}</td>
				</tr>	
				<tr><td class="section-table-row-label-cell">Approval Group</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{user.right.approvalGroup.name}}</td>
				</tr>
			</table>
		</div>
	</div>	
	<div ng-controller="accountsController" class="section application-break"><br><br>
		<div class="section-title">G. AUTHORIZED ACCOUNT / MODULES / USER</div>
		<div class="horizontal-blocks" ng-repeat="account in application.accounts">
			<br><div>ACCOUNT - {{$index + 1}}</div>
			<table>
				<tr><td class="section-table-row-label-cell">Id</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
					<td>{{account.id}}</td>
				</tr>
				<tr><td class="section-table-row-label-cell">Modules</td>
					<td class="section-table-row-column-seperator-cell"> : </td>
                    <td>
                        <div ng-repeat="module in account.modules">
                            <input type="checkbox" checked onclick="return false">{{ module.title}}</input>
                        </div>
                    </td>
				</tr>
                <!--
                <tr ng-repeat="saturatoryBodyPaymentInfoItem in account.saturatoryBodyPaymentInfo">
                    <td class="section-table-row-label-cell">{{saturatoryBodyPaymentInfoItem.saturatoryBody.name}}</td>
                    <td class="section-table-row-column-seperator-cell"> : </td>
                    <td>
                        Employer Name : {{saturatoryBodyPaymentInfoItem.employer.name}}
                        <br>
                        Employer Code : {{saturatoryBodyPaymentInfoItem.employer.id}}
                    </td>
                </tr>
                -->
                <tr><td class="section-table-row-label-cell">Users</td>
                    <td class="section-table-row-column-seperator-cell"> : </td>
                    <td><div ng-repeat="user in account.users">
                        {{user.name}}
                    </div></td>
                </tr>
			</table>
		</div><br>
	</div>	
	<div ng-controller="authorizationTypeController" class="section application-break"><br><br>
		<div class="section-title">H. AUTHORIZATION CONDITION MATRIX (For Authoriser Only)</div>
		<table width="100%">
			<tr><td class="section-table-row-label-cell">Authorization Type</td>
			    <td class="section-table-row-column-seperator-cell"> : </td>
			    <td>{{application.authorizationType.name}}</td>
			</tr>				
		</table>
	</div>
	<div class="section">
		<div class="section-title">I. CLIENT DECLARATION (Authorised Signatories to sign &amp; affix company stamp)</div>
        <table>
            <tr>
                <td width="*">
                    <div class="horizontal-blocks" ng-repeat="declaration in application.declarations">
                        <br><div>Declaration - {{$index + 1}}</div>
                        <table>
                            <tr><td class="section-table-row-label-cell">Name</td>
                                <td class="section-table-row-column-seperator-cell"> : </td>
                                <td>{{declaration.name}}</td>
                            </tr>
                            <tr><td class="section-table-row-label-cell">Date</td>
                                <td class="section-table-row-column-seperator-cell"> : </td>
                                <td>{{declaration.date | date:'dd-MM-yyyy'}}</td>
                            </tr>
                            <tr><td class="section-table-row-label-cell">Photo</td>
                                <td class="section-table-row-column-seperator-cell"> : </td>
                                <td><img width="120" height="160" data-ng-src="data:image/png;base64,{{declaration.photo}}"></img>
                                </td>
                            </tr>
                            <tr><td class="section-table-row-label-cell">Signature</td>
                                <td class="section-table-row-column-seperator-cell"> : </td>
                                <td><img width="200" height="40" data-ng-src="data:image/png;base64,{{declaration.signature}}"></img>
                                </td>
                            </tr>
                        </table>
                    </div><br>
                </td>
                <td width="200" align="right" background="red" valign="bottom">Company Stamp</td>
            </tr>
        </table
	</div>
		<div class="section-title">J. FOR BANK USE ONLY (Branch/BC/TBC)</div>
		<table width="100%">
			<tr><td class="section-table-two-colum">for Initiator</td>
				<td><br><br></td>
				<td>for CMD {{application.bankAdministrationDetail.officerName}}</td>				
			</tr>
			<tr><td><h4>Verification by Branch/BC/TBC</h4></td>
				<td><br><br></td>			
				<td><h4>Verification by RRM</h4></td>
			</tr>			
			<tr><td><p align="justify">*I hereby verify and confirm the above signatory(ies) is/are genuine and wish to recommend them for the Maybank2E services as stated in this application</p></td>
				<td></td>
			</tr>
		</table>
		<br><br><br><br>
		<table width="100%">        
			<tr><td class="section-table-row-label-cell">Officer Name (Mr. / Mrs. / Ms.)</td>
			    <td class="section-table-row-column-seperator-cell"> : </td>
			    <td>{{application.bankAdministrationDetail.officerName}}</td>
			</tr>
			<tr><td class="section-table-row-label-cell">PF No.</td>
			    <td class="section-table-row-column-seperator-cell"> : </td>
			    <td>{{application.bankAdministrationDetail.providentFundNumber}}</td>
			</tr>	
			<tr><td class="section-table-row-label-cell">Initiating Branch</td>
				<td class="section-table-row-column-seperator-cell"> : </td>
				<td>{{application.bankAdministrationDetail.initiationBranch.name}}</td>
			</tr>	
			<tr><td class="section-table-row-label-cell">Tel No.</td>
				<td class="section-table-row-column-seperator-cell"> : </td>
				<td>{{application.bankAdministrationDetail.telephoneNumber}}</td>
				</tr>	
			<tr><td class="section-table-row-label-cell">Date</td>
				<td class="section-table-row-column-seperator-cell"> : </td>
				<td>{{application.bankAdministrationDetail.date | date:'dd-MM-yyyy'}}</td>
			</tr>
            <tr><td class="section-table-row-label-cell">System</td>
            <td class="section-table-row-column-seperator-cell"> : </td>
            <td>{{application.bankAdministrationDetail.system.name}}</td>
            </tr>
		</table>
	</div>
	<script type="text/javascript">
	var app = angular.module('report', []);
	// var app = angular.module('report').factory('application', function(){
	// 	var application = {};
	// 	return application;
	// });
    
	app.controller('applicationController', function($scope, $http) {
		$http.get('application.json').success(function($response){
			$scope.application = $response;
			console.log($scope.application.bankAdministrationDetail.date);			
			$scope.application.bankAdministrationDetail.date = new Date($scope.application.bankAdministrationDetail.date.replace(' ', 'T'));
			console.log($scope.application.bankAdministrationDetail.date);

			for (index=0; index<$scope.application.declarations.length; index++) {
				var declaration = $scope.application.declarations[index];
				declaration.date = new Date(declaration.date.replace(' ', 'T'));
				$scope.application.declarations[index] = declaration;	
				console.log($scope.application.declarations[index].date);
			}
		});
	});	

	app.controller('categoryController', function($scope, $http) {
		$http.get('application.json').success(function($response){
			$scope.application = $response;
		});
	});
	app.controller('companyController', function($scope, $http) {
		$http.get('application.json').success(function($response){
			$scope.application = $response;
		});	
	});
	app.controller('contactController', function($scope, $http) {
		$http.get('application.json').success(function($response){
			$scope.application = $response;
			$scope.contacts = [$scope.application.primaryContactInformation, $scope.application.secondaryContactInformation];
		});		
	});
	app.controller('billingAccountController', function($scope, $http) {
		$http.get('application.json').success(function($response){
			$scope.application = $response;
		});
	});	
	app.controller('servicesController', function($scope, $http) {
		$http.get('application.json').success(function($response){
			$scope.application = $response;
		});	
	});
	app.controller('corporateAdministratorController', function($scope, $http) {
		$http.get('application.json').success(function($response){
			$scope.application = $response;
			$scope.administrators = [$scope.application.adminMaker, $scope.application.adminChecker];			
		});		
	});
	app.controller('accountUsersController', function($scope, $http) {
		$http.get('application.json').success(function($response){
			$scope.application = $response;
		});
	});	
	app.controller('accountsController', function($scope, $http) {
		$http.get('application.json').success(function($response){
			$scope.application = $response;
		});		
	});
	app.controller('authorizationTypeController', function($scope, $http) {
		$http.get('application.json').success(function($response){
			$scope.application = $response;
		});
	});	
	app.controller('declarationController', function($scope, $http) {
		$http.get('application.json').success(function($response){
			$scope.application = $response;
		});		
	});	
	</script>
</body>
</html>