button {
    font-family   :   "SFUIText-Medium";
}

/*label {*/
/*    font-family   :   "SFUIText-Medium";*/
/*}*/

text-field {
    border-width : 1px;
    border-color : darkgray;
    border-style : solid;
    padding-left : 8
    font-family   :   "SFUIText-Medium";
}

text-field placeholder {
    color : gray
}